/* Setting's */
@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@100;200;300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* The Style */

/* Header */
.headerContainer .lineBorder {
  background-color: #117050;
  height: 10px;
  width: 100%;
}

/* HeaderLeft */
.container {
  max-width: 1140px;
  margin: auto;
}

.headerArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.logo a img {
  width: 64px;
  height: 64px;
}

/* HeaderRight */
.headerRight {
  display: flex;
  align-items: center;
}

.headerSearch form {
  display: flex;
}

.headerSearch input {
  font-size: 16px;
  padding: 8px 15px;
  border: 1px solid rgba(17, 17, 17, 0.3);
  outline: 0;
  width: 100%;
  max-width: 250px;
}

.headerSearch button {
  border: 0;
  background: transparent;
  margin-left: -30px;
  cursor: pointer;
}

.headerSearch button img {
  width: 16px;
  height: 16px;
}

.headerMenu {
  margin-left: 50px;
  cursor: pointer;
}

.headerMenu img {
  width: 24px;
  height: 24px;
}

/* Section Banner */
.banner {
  background: url("Assets/Images/bg.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 90px;
}

.banner h1 {
  font-size: 90px;
  line-height: 100px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px;
}

.banner .bannerImages img {
  margin-top: 60px;
  margin-right: 40px;
  width: 148px;
  height: 148px;
  border: 6px solid #117050;
  border-radius: 50%;
}