/* Setting's */
@import url(https://fonts.googleapis.com/css2?family=Oswald:wght@100;200;300;400;500;600;700&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Open+Sans:wght@100;200;300;400;500;600;800&display=swap);

body {
  font-family: "Open Sans", sans-serif;
  margin: 0;
}

h1 {
  font-size: 90px;
  line-height: 100px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px;
}

h2 {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 35px;
  line-height: 46px;
  margin-bottom: 30px;
  margin: 20px 0px;
}

.areasButton {
  display: inline-block;
  border: 2px solid #454545;
  color: #454545;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 3px;
}

.areasButton:hover {
  background-color: #454545;
  color: white;
}

/* The Style */
/* Header */
.headerContainer .lineBorder {
  background-color: #117050;
  height: 10px;
  width: 100%;
}

/* HeaderLeft */
.container {
  max-width: 1140px;
  margin: auto;
}

.headerArea {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100px;
}

.logo a img {
  width: 64px;
  height: 64px;
}

/* HeaderRight */
.headerRight {
  display: flex;
  align-items: center;
}

.headerSearch form {
  display: flex;
}

.headerSearch input {
  font-size: 16px;
  padding: 8px 15px;
  border: 1px solid rgba(17, 17, 17, 0.3);
  outline: 0;
  width: 100%;
  max-width: 250px;
}

.headerSearch button {
  border: 0;
  background: transparent;
  margin-left: -30px;
  cursor: pointer;
}

.headerSearch button img {
  width: 16px;
  height: 16px;
}

.headerMenu {
  margin-left: 50px;
  cursor: pointer;
}

.headerMenu img {
  width: 24px;
  height: 24px;
}

/* Section Banner */
.banner {
  background: url("Assets/Images/bg.jpg");
  background-position: center;
  background-size: cover;
  padding-top: 90px;
  padding-bottom: 93px;
}

.banner h1 {
  font-size: 90px;
  line-height: 100px;
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  margin: 0;
  margin-bottom: 30px;
}

.banner .bannerImages img {
  margin-top: 60px;
  margin-right: 40px;
  width: 148px;
  height: 148px;
  border: 6px solid #117050;
  border-radius: 50%;
}

/* Area1 - Grid */
.area1 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.area1 .area1Quote {
  margin-bottom: 30px;
}

.area1 .area1Text {
  margin-bottom: 50px;
  line-height: 25px;
}

.largeBorder {
  background-color: #006341;
  width: 168px;
  height: 22px;
}

.area1Content {
  padding: 100px;
}

.area1 .area1Image {
  height: 350px;
  background: url(Assets/Images/f2.jpg) center;
  background-size: cover;
}

.area1 .area1Image2 {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
  background: url(Assets/Images/f1.jpg) center;
  background-size: cover;
}

/* Area2 - Grid */
.area2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.area2 .area2Text {
  margin-bottom: 50px;
  line-height: 25px;
}

.largeBorder {
  background-color: #006341;
  width: 168px;
  height: 22px;
}

.area2Content {
  padding: 100px;
}

.area2 .area2Image {
  height: 450px;
  background: url(Assets/Images/f4.jpg) center;
  background-size: cover;
}

.area2 .area2Image2 {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  background: url(Assets/Images/f3.jpg) center;
  background-size: cover;
}

/* Area3 - Grid */
.area3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.area3 .area2Text {
  margin-bottom: 50px;
  line-height: 25px;
}

.area3Content {
  padding: 230px 100px;
  background: url(Assets/Images/bg2.jpg) left;
  background-size: cover;
}

.area3 .area3Image {
  background: url(Assets/Images/f5.jpg) center;
  background-size: cover;
}

/* Area4 - Grid */
.area4 {
  background-image: url(Assets/Images/bg3.jpg);
}
